<h2 style="text-align:center;color:red;">Searching for : <%= @search_term %></h1>

<% if @recipes.nil? %>

<p>No recipes found with relevant information... Sorry</p>

<% else %>
  <table border="1">
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Social rank</th>
    </tr>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to image_tag(recipe["image_url"], height: '100', width: '100'), recipe["source_url"] %></td>
        <td><%= link_to sanitize(recipe["title"]), recipe["source_url"] %></td>
        <td><%= '%.0f' % recipe["social_rank"] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
