<!DOCTYPE html>
<html>
<head>
  <title>Recipefinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p style="text-align:center;">Powered By Food2Fork.com</p>
<p style="text-align: center;">Copyright © 2018 by Vivek Gouda. All rights reserved.</p>

</body>
</html>
